@import "tailwindcss";

@font-face {
  font-family: "cherry";
  src: url("/public/BLKCHCRY.woff2");
}

:root {
  scrollbar-width: thin;
  scrollbar-color: oklch(74% 0.238 322.16) #171717;
}
html,
body {
  color-scheme: dark;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "cherry", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#hero {
  animation: slideShow 33s infinite both;
  mask-image: linear-gradient(#000 75%, transparent);
}

@keyframes slideShow {
  0% {
    background: linear-gradient(#000, #0009),
      url("https://scontent.fbhi10-1.fna.fbcdn.net/v/t39.30808-6/495035492_1303640034773120_7644150918262451213_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=hKFB-BEb20IQ7kNvwEX2ZYf&_nc_oc=AdnU-LKS2p9sJ6OKtz8y10aZptUTJ7mnGDW40NFeYt-oJ5Wo6m_q1mTKlIwDuLseY7k&_nc_zt=23&_nc_ht=scontent.fbhi10-1.fna&_nc_gid=5rS3bTm6yIrjHsiIhv7yVg&oh=00_AfS6Y5a6muVgV_SsZ7T-uh2cEDsvELIQwTi-dXeKg4HU6Q&oe=686F574D");
    background-position: center;
    background-size: cover;
    box-shadow: 0 12px 50px #5005;
  }

  25% {
    background: linear-gradient(#000, #0009),
      url("https://scontent.fbhi10-1.fna.fbcdn.net/v/t39.30808-6/491368364_1293083719162085_8361541795809444428_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=h4U-4w1XfJsQ7kNvwF6VENx&_nc_oc=AdnrkcP5dm6a3lD-3EiJpYarfvcjENS-bd75lhqD8x2FMzd-Gn4HKumvQoujcEoXYzY&_nc_zt=23&_nc_ht=scontent.fbhi10-1.fna&_nc_gid=4eo0oifhFM-X61FaR6ZrxQ&oh=00_AfTAer2vPvIIIZmQAt7lKfGCeoGckvjGITxm8Ibq9E4rxw&oe=686F8441");
    background-position: center;
    background-size: cover;
    box-shadow: 0 12px 25px #f0f3;
  }
  50% {
    background: linear-gradient(#000, #0009),
      url("https://scontent.fbhi10-1.fna.fbcdn.net/v/t39.30808-6/495728682_1303639964773127_934956786514607791_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=PNSAvxEBnHcQ7kNvwHku3gO&_nc_oc=AdmzhAu3IJEl4fhVaBTGhrtYDaUX5iLfgLjRRCbvhBhLKCc04i3zT218uuL7osdnAZ8&_nc_zt=23&_nc_ht=scontent.fbhi10-1.fna&_nc_gid=NjW8rKah457pYGFJEfUgng&oh=00_AfSRAmMib131CNs9odu7aeaW8HvQqH3ENu_7fr1REGOEBA&oe=686F7E85");
    background-position: center;
    background-size: cover;
    box-shadow: 0 12px 50px #95f3;
  }
  75% {
    background: linear-gradient(#000, #0009),
      url("https://scontent.fbhi10-1.fna.fbcdn.net/v/t39.30808-6/493049198_1296506698819787_1866508030110937444_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_ohc=L7xMVwuaQTcQ7kNvwFCxn8L&_nc_oc=AdkrTsQuAbJRR1yqP9c0uOrnwis7ccbec2nosjICl_wv8A7_K9wy-g4M-wnNQH6ztug&_nc_zt=23&_nc_ht=scontent.fbhi10-1.fna&_nc_gid=8D92gTBdZm6hJ-l6f2LgDQ&oh=00_AfTMhSTQxWnimGU7Hj1I05x8EBYeR6LMDs2cx_m6IYcCQA&oe=686F70A5");
    background-position: center;
    background-size: cover;
    box-shadow: 0 12px 50px #0093;
  }

  100% {
    background: linear-gradient(#000, #0009),
      url("https://scontent.fbhi10-1.fna.fbcdn.net/v/t39.30808-6/495035492_1303640034773120_7644150918262451213_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=hKFB-BEb20IQ7kNvwEX2ZYf&_nc_oc=AdnU-LKS2p9sJ6OKtz8y10aZptUTJ7mnGDW40NFeYt-oJ5Wo6m_q1mTKlIwDuLseY7k&_nc_zt=23&_nc_ht=scontent.fbhi10-1.fna&_nc_gid=5rS3bTm6yIrjHsiIhv7yVg&oh=00_AfS6Y5a6muVgV_SsZ7T-uh2cEDsvELIQwTi-dXeKg4HU6Q&oe=686F574D");
    background-position: center;
    background-size: cover;
    box-shadow: 0 12px 50px #5003;
  }
}
