---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout>
  <main>
    <SectionContainer>
      <h1>section 1</h1>
    </SectionContainer>
  </main>
</Layout>
