---
import ContactCard from "../components/ContactCard.astro";
import { CONTACT } from "../utils/constans";
import SectionContainer from "../components/SectionContainer.astro";
import Title from "../components/Title.astro";
---

<SectionContainer
  id="contacto"
  classNameSection="py-32 sm:py-0"
  style="background:linear-gradient(#000,#0009), url(https://scontent.fbhi10-1.fna.fbcdn.net/v/t39.30808-6/492489142_1292410689229388_3796502818940173021_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=Pa4q5n6V94UQ7kNvwE-q8Nh&_nc_oc=AdnFB_U7e7SaJ8BtYJ2zCirwWQREymxk4yXxeNRO1OB_S4wg3Xphf_Ki0F-y1fb6Y-M&_nc_zt=23&_nc_ht=scontent.fbhi10-1.fna&_nc_gid=nTbfr9dIXEIZGWNy1vZkQA&oh=00_AfTkN6Yu5KSSJvvYgaejo3gCx7Fr4f05PiPClc0x8HXHyw&oe=686F81A5); background-position: center; background-size: cover;"
>
  <Title>Contáctame</Title>
  <div class="grid sm:grid-cols-2 gap-4 w-full">
    {
      CONTACT.map((contact) => {
        return <ContactCard {...contact} key={contact.id} />;
      })
    }
  </div>
</SectionContainer>

<style>
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
</style>
