---
import ContactCard from "../components/ContactCard.astro";
import { CONTACT } from "../utils/constans";
import SectionContainer from "../components/SectionContainer.astro";
import Title from "../components/Title.astro";
---

<SectionContainer
  id="contacto"
  className="section-snap"
  style="background:linear-gradient(#000,#000b), url(/landing-img/imagen-7.jpg); background-position: center; background-size: cover;"
>
  <Title>Contáctame</Title>
  <div class="grid grid-cols-2 gap-2 sm:gap-4 w-full">
    {
      CONTACT.map((contact) => {
        return <ContactCard {...contact} key={contact.id} />;
      })
    }
  </div>
</SectionContainer>
