---
import Whatsapp from "../../public/icons/whatsapp.svg";
---

<footer class="flex w-full p-4 bg-amber-300/80">
  <aside class="footer">
    <nav class="footer__left">
      <h1>Footer</h1>
      <Whatsapp />
    </nav>
  </aside>
</footer>
