---
import EventCard from "../components/EventCard.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<SectionContainer id="eventos">
  <h2>Galeria de Eventos</h2>
  <div class="grid grid-cols-3 gap-6">
    <EventCard
      image="/images/Evento-15.jpg"
      title="Evento 15 años de la putita de jazmin"
    />
    <EventCard
      image="/images/Evento-15.jpg"
      title="Evento 15 años de la putita de jazmin"
    />
    <EventCard
      image="/images/Evento-15.jpg"
      title="Evento 15 años de la putita de jazmin"
    />
  </div>
</SectionContainer>
