<header class="flex w-full p-4 bg-gray-300">
  <nav class="flex w-full">
    <ul class="flex w-full justify-between">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
