<header class="flex w-full sticky top-0 z-10">
  <nav
    class="flex w-full justify-between items-center max-w-4xl mx-auto p-4 sm:px-0"
  >
    <a href="/">
      <img
        src="/logo-robles.jpeg"
        alt="Logo Los Robles"
        class="rounded-full size-14 hover:opacity-50 transition duration-300"
      /></a
    >
    <div class="flex items-center gap-4">
      <a class="minimal-hover" href="/">Inicio</a>
      <a class="minimal-hover" href="/galeria">Galería</a>
      <a class="minimal-hover" href="/#faq">Preguntas Frecuentes</a>
      <a class="minimal-hover" href="/#contacto">Contacto</a>
    </div>
  </nav>
</header>

<style>
  .minimal-hover {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 4px 2px;
  }

  .minimal-hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: #fff;
    transition: width 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
  }

  .minimal-hover:hover::after {
    width: 100%;
  }

  header {
    animation-name: nav-animation;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }

  @keyframes nav-animation {
    0% {
      background: transparent;
      backdrop-filter: blur(0);
    }
    100% {
      background: #0005;
      backdrop-filter: blur(10px);
    }
  }
</style>
