---
import SectionContainer from "../components/SectionContainer.astro";
---

<SectionContainer>
  <h2>Los Robles</h2>
  <p>servicio gastronomico, decoraciones, organizacion de eventos</p>
</SectionContainer>
