---
import SectionContainer from "../components/SectionContainer.astro";
---

<SectionContainer
  id="hero"
  className="section-snap flex flex-col items-center gap-2"
>
  <div
    class="slide"
    style="background-image: linear-gradient(#000, #0009), url(/landing-img/imagen-1.jpg);"
  >
  </div>
  <div
    class="slide"
    style="background-image: linear-gradient(#000, #0009), url(/landing-img/imagen-2.jpg);"
  >
  </div>
  <div
    class="slide"
    style="background-image: linear-gradient(#000, #0009), url(/landing-img/imagen-7.jpg);"
  >
  </div>
  <div
    class="slide"
    style="background-image: linear-gradient(#000, #0009), url(/landing-img/imagen-4.jpg);"
  >
  </div>
  <div
    class="slide"
    style="background-image: linear-gradient(#000, #0009), url(/landing-img/imagen-1.jpg);"
  >
  </div>
  <h1
    class="text-5xl uppercase sm:text-7xl bg-cover bg-center font-bold tracking-[7px] text-center z-10 bg-clip-text text-transparent bg-[url(/madera-hero.webp)]"
  >
    Los Robles
  </h1>
  <p
    class="text-lg sm:text-xl opacity-90 text-center p-4 text-balance uppercase z-10"
  >
    Transformamos momentos en recuerdos inolvidables.
  </p>
</SectionContainer>
