---
import SectionContainer from "../components/SectionContainer.astro";
---

<SectionContainer id="hero" className="flex flex-col items-center gap-2">
  <h1 class="text-4xl sm:text-5xl font-bold text-center">Los Robles</h1>
  <p class="sm:text-lg opacity-80 text-center">
    Servicio gastronómico, decoraciones, organización de eventos
  </p>
</SectionContainer>
