---
import SectionContainer from "../components/SectionContainer.astro";
---

<SectionContainer id="hero" className="flex flex-col items-center gap-2">
  <h1 class="text-4xl sm:text-5xl font-semibold text-center">Los Robles</h1>
  <p
    class="text-lg sm:text-xl opacity-90 text-center p-4 text-balance uppercase"
  >
    Servicio gastronómico, decoraciones, organización de eventos
  </p>
</SectionContainer>

<!-- style="background:linear-gradient(#000,#0007),
url(https://scontent.fbhi10-1.fna.fbcdn.net/v/t39.30808-6/495035492_1303640034773120_7644150918262451213_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=hKFB-BEb20IQ7kNvwEX2ZYf&_nc_oc=AdnU-LKS2p9sJ6OKtz8y10aZptUTJ7mnGDW40NFeYt-oJ5Wo6m_q1mTKlIwDuLseY7k&_nc_zt=23&_nc_ht=scontent.fbhi10-1.fna&_nc_gid=5rS3bTm6yIrjHsiIhv7yVg&oh=00_AfS6Y5a6muVgV_SsZ7T-uh2cEDsvELIQwTi-dXeKg4HU6Q&oe=686F574D);
background-position: center; background-size: cover;" -->
