---
import SectionContainer from "../components/SectionContainer.astro";
import Title from "../components/Title.astro";
import ServiceCard from "../components/ServiceCard.astro";
import { SERVICES } from "../utils/constans";
---

<SectionContainer
  id="servicios"
  className="section-snap py-20 sm:py-0"
  style="background:linear-gradient(#000,#000b), url(/landing-img/imagen-6.jpg); background-position: center; background-size: cover;"
>
  <Title>Servicios</Title>
  <div class="grid grid-cols-1 sm:grid-cols-2 w-full gap-4">
    {SERVICES.map((service) => <ServiceCard {...service} />)}
  </div>
</SectionContainer>

<style>
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
</style>
