---
import "../styles/global.css";
import Footer from "../sections/Footer.astro";
import Header from "../sections/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Robles Eventos</title>
  </head>
  <body class="bg-primary w-screen overflow-x-hidden">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
