---
import "../styles/global.css";
import Footer from "../sections/Footer.astro";
import Header from "../sections/Header.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Robles Eventos</title>
    <ClientRouter />
  </head>
  <body>
    <div class="fixed -z-50 h-screen w-full bg-neutral-900">
      <div
        class="absolute inset-0 bg-indigo-900 bg-[size:20px_20px] opacity-20 blur-[100px]"
      >
      </div>
    </div>
    <Header />
    <slot />
  </body>
</html>
